.introduction {
    display: flex;
    justify-content: center;
    h1 {
        padding:20px;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.65);
        color: rgb(255, 255, 255);
        border: solid 2px rgb(255, 255, 255);
        border-radius: 40px;
        width: fit-content;
    }
}
.micromouseCAD {
    height:400px;
    border: dashed 15px rgb(87, 75, 255) ;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}
.introductionText {
    width: 50%;
    padding: 50px;
}
.projectText {
    width:50%;
    h1 {
        text-align: center;
    }
    h2 {
        font-size:25px;
    }
}
.projectImage {
    width:20%;
    margin:50px;
    border: dashed 15px rgb(255, 153, 0) ;
}
.dsImage {
    border-color: rgb(241, 45, 45);
}
